{
    "extends": [
        "airbnb-base"
    ],
    "rules": {
        "indent": ["error", 4],
        "no-param-reassign": ["error", { "props": false }],
        "quotes": ["error", "double"]
    },
    "overrides": [
        {
            "files": [
                "*.test.js"
            ],
            "env": {
                "jest": true
            }
        }
    ]
}
